@import './default.scss';
.btn{
    display: inline-block;
    font-weight: 400;
    color: map-get($COLORS,text);
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    // padding: .375rem .75rem;
    // font-size: 1rem;
    line-height: 1.5;
    // border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-size: 120%;
    border-radius: 8px;
    border-radius: 8px;
    padding: .55rem 1.3rem;
    cursor: pointer;
    &:focus{
        outline: none;
    }
    &-login {
        color: map-get($COLORS,white);
        // background-color: #007bff;
        // border-color: #007bff;
        border-color: linear-gradient(120deg, map-get($COLORS,orange),  map-get($COLORS,fuchsia));
        background-image: linear-gradient(120deg, map-get($COLORS,orange),  map-get($COLORS,fuchsia));
    }
    &-facebook {
        color: map-get($COLORS,white);
        background-color: map-get($COLORS,fb_color);
        border-color: map-get($COLORS,fb_color);
    }
}