@import './default.scss';
.form-group {

  margin-bottom: 1rem;
  label{
    display: inline-block;
    margin-bottom: .2rem;
    font-size: 85%;
    opacity: .8;
  }
  .form-control{
    display: block;
    width: 100%;
    height: calc(1.5em + 2px);
    padding: .375rem 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: map-get($COLORS,text);
    background-color: map-get($COLORS,white);
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid map-get($COLORS,gray);
    box-sizing: border-box;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:focus{
      outline: none !important;
      border-bottom: 1px solid map-get($COLORS,fuchsia)!important;  
    }
  }
  small{
    font-size: 75%;
  }
  .msg_error{
    color: map-get($COLORS,fuchsia);
  }
}